<div id="feed">
	<div class="badget" id="github">
		<a href="http://github.com/houfeng">
		<span class="service">github</span>
		<span class="info">900+</span>
		</a>
	</div>
	<div class="badget" id="twt">
		<a href="http://twitter.com/houfeng_feng">
		<span class="service">twitter</span>
		<span class="info">900+</span>
		</a>
	</div>
	<div class="badget" id="atom">
		<a href="/atom.xml">
		<span class="service">atom</span>
		<span class="info">900+</span>
		</a>
	</div>
</div>
<span style="color:#bbb;font-size:12px">make the world a little better and easier</span>
<p style="clear:both"></p>