<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>{{ page.title }} | 侯锋博客</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
	</head>

	<body>
		<div id="logo"><h1><a href="/">思绪偶尔在这里停留,记录我的一点一滴...</a></h1></div>
		<div id="wrapper">
			<div id="content" class="index">
				<div id="sidebar">
					{% include menu.html %}
				</div>
				
				<div id="main">
					<h1>CATEGORY > {{ page.title }}</h1>
					{{ content }}
				</div>

	</body>
</html>



