<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>{{ page.title }} | {% include name.html %}</title>
		<meta name="keywords" content="{{ page.title }},{% include name.html %}">
		<meta name="description" content="{{ page.title }}">
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
		<link rel="stylesheet" type="text/css" href="/styles/syntax.css" />
		<link rel="alternate" type="application/rss+xml" title="{% include name.html %}" href="/atom.xml" />
		<meta property="wb:webmaster" content="d7fa2693e20e4ebf" />
	</head>

	<body>
		<div id="logo">
			<span id="tags">{% include description.html %}</span>
			<h1><a href="/">{% include name.html %}</a></h1>
		</div>
		<div id="wrapper">
			<div id="content" class="index">
				<div id="sidebar">
					{% include menu.html %}
				</div>
				
				<div id="main">
				{{ content }}
				</div>
			</div>

			<div id="footer">
					{% include foot.html %}
			</div>	

			<!--stat-->
			{% include stat.html %}	
			<!--/stat-->

		</div>	
		{% include copyright.html %}
	</body>
</html>