<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>{{ page.title }} | 侯锋博客</title>
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
		<link rel="stylesheet" type="text/css" href="/styles/syntax.css" />
	</head>

	<body>
		<div id="logo">
			<span id="tags">思绪偶尔在这里停留,记录我的一点一滴...</span>
			<h1><a href="/">侯锋博客</a></h1></div>
		<div id="wrapper">
			<div id="content">
				<h2>{{ page.title }}</h2>
				<div class="cnt">
					{{ content }}
					<br />
					<br/>
				</div>
		<!--comment-->
{% include comment.html %}
        <!--/comment-->
			</div>

				<div id="footer">
					<div id="feed">
						<div class="badget" id="github">
							<a href="http://github.com/houfeng">
							<span class="service">github</span>
							<span class="info"> </span>
							</a>
						</div>
						<div class="badget" id="twt">
							<a href="http://twitter.com/hou_feng">
							<span class="service">twitter</span>
							<span class="info">600+</span>
							</a>
						</div>
						<div class="badget" id="feedburner">
							<a href="http://feeds.feedburner.com/houfeng">
							<span class="service">rss</span>
							<span class="info"> </span>
							</a>
						</div>
					</div>
					<span style="color:#bbb;font-size:12px">make the world a little better and eaiser</span>
					<p style="clear:both"></p>
				</div>
				<!--stat-->
				{% include stat.html %}	
				<!--/stat-->
	</body>
</html>

